/*style*/
body{
    font: 16px/28px Times, sans-serif;
    background-color: #eaeaea;
    color: #333;
}

.container {
    width : 800px;
    margin: auto;
}

.header {
    padding: 20px;
}

.header .judul{
    font-size: 40px;
    font-weight: bold;
}

.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 15px;
}

.header a{
    text-decoration: none;
    color: lightcyan;
}

.header a:hover{
    background-color: lightseagreen;
    color: white;
}

.hero{
    height: 250px;
    background-image: url(Pinaaa.jpeg);
    background-size: cover;
    background-position: 0 -180px;
    border-top: 5px;
}